*.elf
*.self
*.pkg
*.o
*.d
*.bin
/build
/MGZ/build
/OffsetFinder

!/MGZ/data/*.bin

MGZ/lib/*

!/MGZ/lib/cobralib/include

!/MGZ/lib/ImageMagick
/MGZ/lib/ImageMagick/*
!/MGZ/lib/ImageMagick/MagickCore
/MGZ/lib/ImageMagick/MagickCore/*
!/MGZ/lib/ImageMagick/MagickCore/*.h
!/MGZ/lib/ImageMagick/MagickWand
/MGZ/lib/ImageMagick/MagickWand/*
!/MGZ/lib/ImageMagick/MagickWand/*.h

!/MGZ/lib/libapputil
/MGZ/lib/libapputil/build
!/MGZ/lib/libgtfconv
/MGZ/lib/libgtfconv/build
!/MGZ/lib/configure_libiconv
!/MGZ/lib/configure_ImageMagick
!/MGZ/lib/*.a

payloads/*
!payloads/PS2_EMU