*.elf
*.self
*.pkg
*.o
*.d
*.bin
*.map
/build
/pkgfiles2/USRDIR/sys/*
/pkgfiles2/USRDIR/GUI/common/*
/pkgfiles2/USRDIR/GUI/*.ini
/pkgfiles2/USRDIR/*.self

/MGZ/build
OffsetFinder/*
!OffsetFinder/main.c
!OffsetFinder/makefile

!/MGZ/data/*.bin

MGZ/lib/*

!/MGZ/lib/ImageMagick
/MGZ/lib/ImageMagick/*
!/MGZ/lib/ImageMagick/MagickCore
/MGZ/lib/ImageMagick/MagickCore/*
!/MGZ/lib/ImageMagick/MagickCore/*.h
!/MGZ/lib/ImageMagick/MagickWand
/MGZ/lib/ImageMagick/MagickWand/*
!/MGZ/lib/ImageMagick/MagickWand/*.h

!/MGZ/lib/libapputil
/MGZ/lib/libapputil/build
!/MGZ/lib/libgtfconv
/MGZ/lib/libgtfconv/build
!/MGZ/lib/configure_libiconv
!/MGZ/lib/configure_ImageMagick
!/MGZ/lib/*.a
