*.sym
*.prx
*.elf
*.self
*.pkg
*.o
*.d
*.bin
*.map
/NotForGithub
/build
/pkgfiles2/USRDIR/sys/*
/pkgfiles2/USRDIR/GUI/common/*
/pkgfiles2/USRDIR/GUI/*.ini
/pkgfiles2/USRDIR/*.self

/MGZ/build
OffsetFinder/*
!OffsetFinder/main.c
!OffsetFinder/makefile
!OffsetFinder/GetFlash.exe

!/MGZ/data/*.bin
/MGZ/source/vsh
TranslateMGZ/*.txt
